body {
	background: #DAF7F6;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #3B3B3B;
}

header {
	background: #FFFFFF;
	text-align: center;
}

h1 {
	display: inline-block;
	padding: 40px 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	color: #F16059;
}

header img {
	margin-right: 16px;
}

main {
	width: 1000px;
	margin: 0 auto;
}
